[Desktop Entry]
Categories=Utility;
Comment[en_US]=Mouse, keyboard & file sharing via LAN
Comment=Mouse, keyboard & file sharing via LAN
Comment[de_DE]=Maus-, Tastatur- und Dateifreigabe über LAN
Exec=lan-mouse
Icon=de.feschber.LanMouse
Name[en_US]=Lan Mouse+
Name=Lan Mouse+
StartupNotify=true
Terminal=false
Type=Application
